[Desktop Entry]
Name=GTV MPEG player
Name[pl]=Odtwarzacz MPEG GTV
Name[sv]=GTV MPEG-spelare
Comment=gtv MPEG player
Comment[pl]=GTV - odtwarzacz MPEG 
Comment[sv]=Enkel spelare för MPEG-filmer
Exec=gtv
Terminal=false
Type=Application
Icon=gtv.png
Encoding=UTF-8
Categories=GTK;Video;Player;
# vi: encoding=utf-8
