[Desktop Entry]
Name=gtv MPEG player
Name[sv]=GTV MPEG-spelare
Comment=gtv MPEG player
Comment[sv]=Enkel spelare för MPEG-filmer
Exec=gtv
Terminal=0
Type=Application
Icon=gtv.png
